<p>questionnaire-center works!</p>
<h4>清單：</h4>

<table>
    <thead>
        <tr>
            <th>標題</th>
            <th>說明</th>
            <th>作者</th>
            <th>建立日期</th>
        </tr>
    </thead>
    <ng-container *ngFor="let question of questionnaireList">
        <tbody>
            <tr>
                <td>{{ question.title }}</td>
                <td>{{ question.description }}</td>
                <td>{{ question.publisher }}</td>
                <td>{{ question.date }}</td>
            </tr>
        </tbody>
    </ng-container>
</table>
<!-- <table>
    <thead>
        <th>標題</td>
        <th>說明</td>
        <th>作者</td>
        <th>建立日期</td>
    </thead>
    <ng-container *ngFor="let question of questionnaireList">
        <tbody>
            <tr>
                <td>{{ question.title }}</td>
                <td>{{ question.description }}</td>
                <td>{{ question.publisher }}</td>
                <td>{{ question.date }}</td>
            </tr>
        </tbody>
    </ng-container>
</table> -->